* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    padding-top: 80px; 
    font-family: 'Poppins', sans-serif;
  }
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #ffffff;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .logo-container img {
    max-width: 130px;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none; 
  }
  
  .logo-container:hover img {
    transform: scale(1.1); 
  }
  
  nav {
    display: flex;
    gap: 15px;
    z-index: 10;
  }
  
  .btn {
    font-size: 16px;
    color: white;
    background: #043372;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background: #2980b9;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    nav {
      margin-top: 10px;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  
    .btn {
      width: 80%;
      text-align: center;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: auto;
    max-width: auto;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 600%; /* Agora corresponde ao número de slides */
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 16.666%; /* 100% / 6 slides */
    flex: 1;
}

.slide img {
    width: 100%;
    height: auto;
}

.nav-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.nav-buttons input {
    display: none;
}

.nav-buttons label {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

input:checked + label {
    background-color: #333;
}
.section-header.title-section{
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: var(--vitrine_tipo_titulo);
  text-align: center;
  color: var(--vitrine_cor_titulo);
}



.nossas-categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  /*padding: 40px 0 20px 0;
  background-color: #f2f2f2;
  text-align: center;*/
}


.Sobre h2{
  color: #043372;
  margin-top: 40px;
  text-align: center;
}

.Sobre p{
  padding: 30px;
  color: #043372;
  line-height: 2;
}

/*footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #043372;
  font-family:  'Poppins', sans-serif;
  text-align: left;
  padding: 20px;
  color: white;
}*/

.Título-Marcas h2{
  color: #043372;
  margin-top: 40px;
  text-align: center;
}


.Logos {
  display: flex;
  flex-wrap: wrap;          
  justify-content: center;  
  gap: 20px;                
  padding: 30px;
  max-width: 800px;         
  margin: 0 auto;           
}

.Marcas-Logo {
  width: calc(33.33% - 20px);  
  display: flex;
  justify-content: center;
}

.Marcas-Logo img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.categorias-container {
  text-align: center;
  padding: 50px 20px;
}

.categorias-container h2 {
  color: #043372;
  font-family:  'Poppins', sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
}

.categorias-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.categoria {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.categoria:hover {
  transform: scale(1.05);
}

.categoria img {
  width: 140px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px; 
}

.categoria p {
  font-family:  'Poppins', sans-serif;
  margin-top: 10px;
  color: #043372;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}



  